{% if request.user.is_authenticated %}
    <p>Welcome, {{ request.user }}!</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Login</a>

{% endif %}

<hr>
<h1>THIS IS MY TO_DO APP</h1>

<a href = "{% url 'task-create' %}">Create Task</a>

<table>
    <tr>
        <th>Task</th>
        <th></th>
        <!-- <th>Task Description</th> -->
        <!-- <th>Task Status</th> -->
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href = "{% url 'task' task.id %}">View</a></td>
        <td><a href = "{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href = "{% url 'task-delete' task.id %}">Delete</a></td>
        <!-- <td>{{ task.description }}</td> -->
        <!-- <td>{{ task.status }}</td> -->
    </tr>
    {% empty %}
    <h3>No items in the list</h3>
    {% endfor %}
</table>
